/******* General ********/
*{
	box-sizing: border-box;
}

body, html{
	width: 100%;
	height: 100%;
}

header{
	width: 100%;
	height: 10%;
	min-height: 4em;
	position: fixed;
	background-color: white;
	z-index: 20;
}

header h3{
	display: inline-block;
	float: left;
	margin-left: 5%;
}

nav{
	display: none;
}

h1, h2, h4{
	margin: 0;
}

.mobile-nav{
	width: 100%;
	height: 100%;
	min-height: 4em;
	float: right;
	border: 1px solid black;
	text-align: center;
}

a{
	color: maroon;
}

a:visited{
	color: maroon;
}

.nav-option{
	width: 19%;
	height: 100%;
	display: inline-block;
}

.nav-option h6{
	position: relative
	top: 0em;
	text-align: center;
	font-size: .8em;
}

.about{
	border-right: 1px solid black;
}
.projects{
	border-right: 1px solid black;
}

.skills{
	border-right: 1px solid black;
}

.contact{
	border-right: 1px solid black;
}

.resume{
}


section{
	width: 100%;
	height: 75%;
/*	border: 1px solid black;*/
/*	margin: 5% 0;*/
	position: relative;
	top: 3em;

}

section h2{
	text-decoration: underline;
	text-align: center;
	margin: 0em auto;
	padding-top: 1em;
}

.container{
	width: 90%;
	height: 100%;
	margin-left: 5%;
}


/******** Slide 1 ***********/

#section1{
	background-color: orange;
	width: 100%;
	height: 90%;
	min-height: 30em;
}

#section1 h2{
	color: #000;
	margin-bottom: 1em;
	text-align: center;
}

#section1 img{
	width: 20%;
	min-width: 10em;
	position: relative;
	left: 30%;
}

#section1 h1{
	display: block;
	position: relative;
	padding-top: 1em;
	/*left: 5%;*/
	max-width: 12em;
	min-width: 10em;
	text-align: center;
}
#section1 p{
	display: block;
	position: relative;
	left: 5%;
	max-width: 25em;
	min-width: 15em;
	text-align: center;
}

/******** Slide 4 ***********/

#section2{
	height: 100%;
	min-height: 38em;
}

#section2 h4{
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1.5em;
}

#section2 img, p{
	width: 90%;
	max-width: 20em;
	position: relative;
	left: 5%;
	display: inline-block;
}

/******** Slide 3 ***********/

#section3{
	background-color: maroon;
	color: white;
	height: 60%;
	min-height: 18em;
}

#section3 h2{
	padding-bottom: .5em;
}

#section3 h4{
	color: orange;
/*	text-decoration: underline;
*/}

/******** Slide 4 ***********/
#section4{
	height: 30%;
	min-height: 8em;
}

#section4 ul{
	width: 80%;
	position: absolute;
	left: 10%;
}
#section4 li{
	list-style-type: none;
	display: inline-block;
	padding: 1em;
}

#section4 img{
	width: 3em;
}

@media all and (min-width: 500px){

	#section1{
		height: 65%;
	}
	#section1 h2{
		text-align: center;
		padding-top: 1.5em;
	}
	#section1 img{
		width: 35%;
		max-width: 15em;
		position: absolute;
		left: 5%;
	}

	#section1 h1{
		position: relative;
		left: 45%;
		width: 40%;
		text-align: center;
	}

	#section1 p{
		width: 50%;
		position: relative;
		left: 45%;
		min-width: 15em;
	}

	#section2 .project-box{
		display: inline-block;
		width: 80%;
		position: relative;
		left: 10%;
	}

	#section2 p{
		position: relative;
		top: 1em;
		left: 5%;
		max-width: 30em;
	}

	#section3 h2{
		padding-bottom: .5em;
	}
	#section4 ul{
		position: relative;
		left: 25%;
	}
}

@media all and (min-width: 920px){

/*Section1*/
	
	#section1 h2{
		position: relative;
	}
	#section1 img{
		position: absolute;
		left: 10%;
		top: 15%;
	}

	#section1 h1{
		position: relative;
		left: 50%;
		top: 10%;
		width: 40%;
		font-size: 2em;
	}
	#section1 p{
		position: relative;
		top: 10%;
		font-size: 1.2em;
	}

/*Section2*/

	#section2 h2{
		margin-bottom: 1.5em;
	}
	.project-box{
		display: inline-block;
		width: 90%;
		position: relative;
	/*	left: 10%;*/
	}
	#section2 img{
		display: inline-block;
		position: relative;
	/*	left: -5%;*/
	}
	#section2 p{
		display: inline-block;
		position: relative;
		top: 0em;
	}

/*Section3*/
	
	#section3{
		height: 50%;
	}
	#section3 h2{
		padding-bottom: .5em;
	}
	.skills-list{
		width: 75%;
		position: relative;
		left: 20%;
		display: block;
	}

	#section3 h4{
		display: inline-block;
	}

	#section3 p{
		max-width: 40em;
		position: relative;
		display: inline-block;
	}

/*Section4*/

#section4 ul{
	width: 60%;
	position: relative;
	left: 35%;
}


