/******* General ********/
*{
	box-sizing: border-box;
}

body, html{
	width: 100%;
	height: 100%;
}

header{
	width: 100%;
	height: 10%;
	background-color: #ccc;
}

header h6{
	display: inline-block;
	float: left;
}
nav{
	width: 60%;
	float: right;
}
nav ul{
	width: 100%;
	margin: 0 auto;
	border: 1px solid black;
	position: relative;
	left: -40px;
}
nav ul li{
	width: 20%;
	list-style-type: none;
	display: inline-block;
	border: 1px solid black;
	position: relative;
	left: -40px;
	margin: 0 auto;
	text-align: center;
}

section{
	width: 100%;
	height: 75%;
	border: 1px solid black;
	margin: 5% 0;
}

section h2{
	text-decoration: underline;
}

.container{
	width: 90%;
	height: 100%;
	margin-left: 5%;
}


/******** Slide 1 ***********/

#section1{
	background-color: orange;
	width: 100%;
}

#section1 h2{
	color: #000;
	margin-bottom: 1em;
}

#section1 img{
	width: 20%;
	min-width: 10em;
	position: relative;
	left: 25%;
}


/******** Slide 4 ***********/

#section2{
	height: 100%;
}

#section2 h4{
	text-align: center;
	margin-top: 1em;
	margin-bottom: 2em;
}

#section2 img, p{
	width: 90%;
	max-width: 20em;
	position: relative;
	left: 5%;
	display: inline-block;
}

/******** Slide 3 ***********/

#section3{
	background-color: maroon;
	color: white;
	height: 60%;
}

#section3 h4{
	color: orange;
/*	text-decoration: underline;
*/}

#section4{
	height: 30%;
}

#section4 ul{
	width: 80%;
	position: absolute;
	left: 10%;
}
#section4 li{
	list-style-type: none;
	display: inline-block;
	padding: 1em;
}

#section4 img{
	width: 3em;
}



@media (min-width 780px){
	nav{
		width: 60%;
		float: right;
		display: block;
	}
	nav ul{
		width: 100%;
		margin: 0 auto;
		border: 1px solid black;
		position: relative;
		left: -40px;
	}
	nav ul li{
		width: 20%;
		list-style-type: none;
		display: inline-block;
		border: 1px solid black;
		position: relative;
		left: -40px;
		margin: 0 auto;
		text-align: center;
	}

	section h2{
		text-align: justify;
	}

}

