/******* General *********/
body, html{
	width: 100%;
	max-width: 100%;
	margin-top: 2.5em;
	position: relative;
	background-color: #ddd;
}

li{
	list-style-type: none;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

h2{
	text-align: center;
	text-decoration: underline;
	padding: 1em 0;
	font-family: 'Bree Serif', serif;
}

h4{
	font-size: 1.1em;
}

.row{
	padding-bottom: 5%;
}



/******* Navigation *********/
.navbar{
	background-color: #fff;
}

.navbar li a{
	font-family: 'Bree Serif', serif;
	font-size: 1em;
	position: relative;
	top: .2em;
}

.navbar-brand{
	font-family: 'Bree Serif', serif;
	font-size: 1.8em;
}

.navbar-brand span{
	color: maroon;
}

.navbar-header{
	padding-left: 1em;
	height: 4.2em;
}

.navbar-header button{
	margin-right: 2em;
}

.navbar-right{
	margin-right: 1em;
}

nav img{
	width: 2em;
	margin: 0;
}

.collapse li:hover{
	background-color: maroon;
}

.collapse li a{
	padding-left: 2em;
}



/******* Intro *********/
#intro{
	padding-top: 5%;
	background: white;
	background-image: url(../img/lane-stadium.jpg);
	background-size: cover;
	background-position: top center;
	height: 40em;
}

.intro-content{
	margin-top: 8%;
	text-align: center;
	color: maroon;
	font-size: 1.5em;
	line-height: 1.4;
	background-color: #fff;
	opacity: .9;
	border-radius: 10px;
	padding: .5em;
}

.intro-content h1{
	margin-bottom: .5em;
	font-family: 'Rambla', sans-serif;
	font-weight: bolder;
}

.intro-content h5{
	font-size: 1em;
	font-family: 'Rambla', sans-serif;
	font-weight: bolder;
}



/******* About Me *********/
#about{

}
.about-content{
	text-align: center;
}

.about-content h3{
	margin-top: .5em;
	font-family: 'Rambla', sans-serif;
}

.about-content p{
	margin-top: 1.5em;
	font-size: 1.2em;
	font-family: 'Rambla', sans-serif;
}

#about img{
	width: 15em;
	border: 5px solid black;
	border-radius: 100%;
}



/******* Projects *********/
#projects{
	background-color: #fff;
}

.caption a{
	text-align: center;
}

.project img{
	width: 100%;
}

.caption-title{
	text-align: center;
}
.caption p{
	margin-top: 1em;
}

.caption span{
	font-weight: bold;
}



/******* Skills *********/
#skills{
	background-color: #ddd;
}

#skills ul{
	margin: 1em auto;
}

.box{
	background-color: white;
}

.txt-center{
	text-align: center;
}

.r-border{
	border-right: none;
}



/******* Footer *********/
.footer{
	height: 4em;
	background-color: maroon;
}

.footer p{
	text-align: center;
	margin-top: 1.2em;
	font-weight: bolder;
	color: #fff;
	font-family: 'Rambla', sans-serif;
}


@media (min-width: 768px){
	.navbar-right li:hover{
		background-color: #fff;
	}

	.r-border{
		border-right: 1px solid black;
	}
}



